{
    "dbHost": "127.0.0.1",
    "dbName": "swg",
	"dbUser": "username",
	"dbPassword": "password",
	"autoRegistration": true,
	"discordBotToken": "token",
	"discordBotChannelName": "channelName",
	"discordStatusInterval": 60
}